.footer {
  margin-top: 70px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}
.left-side {
  margin-left: 60px;
  margin-top: 30px;
}
.right-sec {
  margin-top: 30px;
  line-height: 22px;
  flex-direction: column;
  text-align: start;
  margin-left: 50%;
}
.mid-sec {
  margin-top: 30px;
}
.right-sec a {
  text-decoration: none;
  color: black;
  list-style: none;
  cursor: pointer;
}
.off {
  text-align: center;
  width: 80%;
  margin: auto;
}
.off p {
  margin-top: 20px;
}
.estate {
  background-color: rgba(99, 98, 98, 0.256);
  width: 100%;
}
@media (max-width: 900px) {
  .footer {
    height: 400px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    gap: 35px;
    flex-direction: column;
  }
  .left-side {
    text-align: left;
  }
  .mid-sec {
    text-align: left;
    margin: auto;
    width: 80%;
  }
  .right-sec li {
    text-align: left;
    margin: auto;
    line-height: 30px;
    display: flex;
    margin-left: -220px;
  }
}
